<div class="container">

    <div class="card-deck m-2">

        @foreach (var productList in Model)
        {


            var photoPath = "~/images/" + (productList.PhotoPath ?? "fas.jpg");

            <div class="card m-3" style="min-width :18rem; max-width:15.5%;">
                <a asp-action="ProductDetails" asp-controller="Product" asp-route-id="@productList.Id">
                    <img class="card-img-top" src="@photoPath"
                         height="252" width="300" asp-append-version="true">
                </a>
                <div class="card-body">
                    <div class="name" style="line-height: 1.5em; height: 2.5em;overflow: hidden;">
                        <h6 class="card-title">@productList.Name</h6>
                    </div>
                    <p class="card-text">
                        $ @productList.Price
                    </p>
                    <a class="btn btn-outline-info" asp-action="buy" asp-controller="Cart" asp-route-id="@productList.Id">Add cart <i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                    <a class="btn btn-outline-info m-2" asp-action="ProductDetails" asp-controller="Product" asp-route-id="@productList.Id"> Details </a>
                </div>
            </div>


        }
    </div>

</div>